configuration {
    modi: "drun,run,window";
    show-icons: true;
    icon-theme: "Papirus-Dark";
    display-drun: "";
    display-run: "";
    display-window: "";
    drun-display-format: "{name}";
    font: "Inter 12";
    
    case-sensitive: false;
    sort: true;
    sorting-method: "fzf";
    
    terminal: "ghostty";
}

@theme "~/.config/rofi/rose-pine.rasi"
