configuration {
    modi:                "drun";
    show-icons:          true;
    icon-theme:          "Papirus-Dark";
    drun-display-format: "{name}";
    display-drun:        "";
    lines:               5;
    columns:             1;
    fixed-num-lines:     true;
    font:                "Cantarell 13";
    location:            0;        /* center */
    hide-scrollbar:      true;
    sidebar-mode:        false;
}

@theme "theme.rasi"
